<!--@subject {{trans "Email Campaign"}} @-->
{{template config_path="design/email/header_template"}}
<p class="greeting">Hi {{trans "%name," name=$customer_name}}</p>
<p>
    {{trans "Your campaign has been failure"}}
</p>
<ul>
    <li>{{trans "Campaign ID:"}} <span> {{var product.id}}</span></li>
    <li>{{trans "Campaign Name:"}} <span>{{var product.name}}</span></li>
    <li>{{trans "Goal:"}} <span>{{var campaign_goal}}</span></li>
    <li>{{trans "Deadline:"}} <span>{{var campaign_end_date}}</span></li>
    <li>{{trans "Price:"}} <span>{{var price}}</span></li>
    <li>{{trans "Profit:"}} <span>{{var campaign_profit}}</span></li>
</ul>
{{template config_path="design/email/footer_template"}}